<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Aparnaa Shyam Wedding</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900,400italic,500italic,700italic,900italic%7CRoboto+Slab:400,300,700%7CPlayfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="assets/css/settings.css">
		<link rel="stylesheet" type="text/css" href="assets/css/simple-line-icons.css">
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.css">
		<link rel="stylesheet" type="text/css" href="assets/css/global.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" >
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
		<link rel="stylesheet" type="text/less" href="assets/css/skin.less">
	</head>
	<body data-ng-app="websiteApp">

		<!--Loader Start-->
		<div id="loading">
			<div id="loading-center">
				<div id="loading-center-absolute">
					<div class="object" id="object_four"></div>
					<div class="object" id="object_three"></div>
					<div class="object" id="object_two"></div>
					<div class="object" id="object_one"></div>
				</div>
			</div>

		</div>
		<!--Loader End-->

		<!--Page Wrapper Start-->
		<div id="wrapper" class="home">

			<!--Header Section Start-->
			<header id="header" class="header">
				<div class="container">
					<div class="row ">
						<div class="col-xs-12">
							<div class="header-cont clearfix">
								<a href="index.html" class="logo"> <img src="assets/images/logo_as.png" alt=""/> <i class="fa fa-heart"> </i> </a>
								<nav>
									<button class="home-menu"  type="button">
										<span class="icon-bar"> </span>
										<span class="icon-bar"> </span>
										<span class="icon-bar"> </span>
									</button>
									<ul class="navigation clearfix">
										<li class="active">
											<a href="#" data-id="#home">HOME</a>
										</li>
										<li>
											<a href="#" data-id="#couple">COUPLE</a>
										</li>
										<li>
											<a href="#" data-id="#event">EVENTS</a>
										</li>
										<li>
											<a href="#" data-id="#travel">TRAVEL INFO</a>
										</li>	
										<li>
											<a href="#" data-id="#photos">PHOTOS</a>
										</li>										
										<li>
											<a href="#" data-id="#gifts">GIFTS</a>
										</li>										
										<li>
											<a href="#" data-id="#rsvp">RSVP</a>
										</li>										
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!--Header Section End-->

			<!--banner Section start-->
			<section class="banner" id="home">
				<div id="rev_slider_wrapper">
					<!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
					<div id="slider1" class="rev_slider">
						<ul>
							<!-- SLIDE  -->
							<li data-transition="boxslide">
								<!-- MAIN IMAGE -->
								<img src="assets/images/banner.jpg"  alt="">
								<!-- LAYERS -->
								<div class="banner-content-wrapper">
									<!-- LAYER NR. 1 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
									id="slide-398-layer-4"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="60"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
									data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="1500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"

									style="">
										<img alt="#" src="assets/images/img-design.png">
									</div>
									<!-- LAYER NR. 2 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme title-head"
									id="slide-396-layer-5"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="90"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="1300"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05"

									style="font-size: 60px; color:#433e3e; line-height: 1.4; text-transform: uppercase; letter-spacing: 5px;  font-family: 'Roboto', sans-serif; font-weight: 500">
										<h1 class="head-text">Aparnaa <span>&amp;</span> Shyam</h1>
									</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption BigBold-Button rev-btn "
									id="slide-396-layer-6"
									data-x="center" data-hoffset=""
									data-y="bottom" data-voffset="40"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"

									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;s:1000;"
									data-start="3000"
									data-splitin="none"
									data-splitout="none"
									data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
									data-responsive_offset="on"
									data-responsive="off"

									style="font-size: 14px;  color:#774f38;">
										<span>February 2, 2017</span>
									</div>
								</div>

							</li>

							<!-- SLIDE  -->
							<li data-transition="curtain-1">
								<!-- MAIN IMAGE -->
								<img src="assets/images/agency_banner_1.jpg"  alt="">
								<!-- LAYERS -->
								<div class="banner-content-wrapper">
									<!-- LAYER NR. 1 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
									id="slide-398-layer-7"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="60"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
									data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="1500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"

									style="">
										<img alt="#" src="assets/images/img-design.png">
									</div>
									<!-- LAYER NR. 2 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme title-head"
									id="slide-396-layer-8"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="90"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="1300"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05"

									style="font-size: 60px; color:#433e3e; line-height: 1.4; text-transform: uppercase; letter-spacing: 5px;  font-family: 'Roboto', sans-serif; font-weight: 500">
										<h1 class="head-text">Aparnaa <span>&amp;</span> Shyam</h1>
									</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption BigBold-Button rev-btn "
									id="slide-396-layer-9"
									data-x="center" data-hoffset=""
									data-y="bottom" data-voffset="40"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"

									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;s:1000;"
									data-start="3000"
									data-splitin="none"
									data-splitout="none"
									data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
									data-responsive_offset="on"
									data-responsive="off"

									style="font-size: 14px;  color:#774f38;">
										<span>February 2, 2017</span>
									</div>
								</div>

							</li>

							<!-- SLIDE  -->
							<li data-transition="3dcurtain-horizontal">
								<!-- MAIN IMAGE -->
								<img src="assets/images/agency_banner_3.jpg"  alt="">
								<!-- LAYERS -->
								<div class="banner-content-wrapper">
									<!-- LAYER NR. 1 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme"
									id="slide-398-layer-10"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="60"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
									data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="1500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"

									style="">
										<img alt="#" src="assets/images/img-design.png">
									</div>
									<!-- LAYER NR. 2 -->
									<div class="tp-caption NotGeneric-Title   tp-resizeme title-head"
									id="slide-396-layer-11"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="90"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;"

									data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
									data-start="1300"
									data-splitin="chars"
									data-splitout="none"
									data-responsive_offset="on"

									data-elementdelay="0.05"

									style="font-size: 60px; color:#433e3e; line-height: 1.4; text-transform: uppercase; letter-spacing: 5px; font-family: 'Roboto', sans-serif; font-weight: 500">
										<h1 class="head-text">Aparnaa <span>&amp;</span> Shyam</h1>
									</div>

									<!-- LAYER NR. 3 -->
									<div class="tp-caption BigBold-Button rev-btn "
									id="slide-396-layer-12"
									data-x="center" data-hoffset=""
									data-y="bottom" data-voffset="40"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"

									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
									data-transform_out="s:1000;s:1000;"
									data-start="3000"
									data-splitin="none"
									data-splitout="none"
									data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
									data-responsive_offset="on"
									data-responsive="off"

									style="font-size: 14px;  color:#774f38;">
										<span>February 2, 2017</span>
									</div>
								</div>

							</li>

						</ul>
					</div>
				</div>
			</section>
			<!--banner Section End-->

			<!--Content Area Start-->
			<div id="content">
				<!-- happy couple section start here -->
				<section class="happy-couple" id="couple">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="header-center">
									<h2>happy couple</h2>
								</div>
								<div class="bell">
									<img src="assets/images/thumb-1.jpg" alt="">
									<div class="inner-header-wrapper-left inner-header-wrapper">
										<h3><a href="#">Aparnaa</a></h3>
										<p>
											Aparnaa was born in Kumbakonam. Her Journey started from Coimbatore where she compeleted her schooling. After her Bachelor's degree in Electronic Engineering, she is currently pursuing a Master's degree in Anna University. Music lives in her soul and dance is like an art where she can spend a whole day dancing to the tunes. She adores dogs; an admirer of nature and a rain lover.
										</p>
										<img src="assets/images/cycle-1.png" alt="">
									</div>
								</div>
								<div class="jack">
									<img src="assets/images/thumb-2.jpg" alt="">
									<div class="inner-header-wrapper-right inner-header-wrapper">
										<h3><a href="#">Shyam Sundar</a></h3>
										<p>
											 Shyam was born and brought up in Chennai. He's completed his Bachelor's and Master's in Computer Engineering in the National University of Singapore and now works as a software engineer in Continental. Shyam is a fun and adventure seeking person who loves to travel. Playing tennis and cycling are his favorite pastimes.  
										</p>
										<img src="assets/images/cycle-2.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--happy couple section end here -->

				<!--Count-down section start here -->
				<div class="count-down">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<ul class="clearfix" id="countdown">
									<li>
										<a href="#">120<span>Days</span></a>
									</li>
									<li>
										<a href="#">12<span>Hours</span></a>
									</li>
									<li>
										<a href="#">16<span>Minutes</span></a>
									</li>
									<li>
										<a href="#">30<span>Seconds</span></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--Count-down section end here -->

				<!--Our-stroy section start here -->
				<div class="our-story">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<p>
									Marriage is the golden ring in a chain whose beginning is a glance and whose ending is Eternity.
								</p>
							</div>
						</div>
					</div>
				</div>

				<!--wedding-event section start here -->
				<section class="wedding-event" id="event">
					<div class="wedding-event-top">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<div class="header-center">
										<h2>Wedding Events</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row padding-right">
							<div class="col-xs-12 col-md-7 col-sm-7">
								<figure>
									<img src="assets/images/sangeet-1.jpg" alt="">
								</figure>
							</div>
							<div class="col-xs-12 col-md-pull-1 col-md-5 col-sm-pull-2 col-sm-5">
								<div class="event-description-wrapper">
									<div class="event-description">
										<h3><a href="#">Sangeet function</a></h3>
										<span class="day-class">Monday, January 30, 2017</span>
										<span class="clk-class">4:30 PM - 8:30 PM</span>
										<address>
											<span class="map-class">GRT Grand</span>
											<span class="venue-class">Giriappa Rd Drivers Colony, T Nagar Chennai, Tamil Nadu 600017 India</span>
										</address>
										<a class="read-more" href="event.html#guide-sangeet">Read More<i class="fa fa-angle-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="row padding-right">
							<div class="col-xs-12 col-md-5 col-sm-5 push">
								<div class="event-description-wrapper reception-description-sec">
									<div class="event-description">
										<h3><a href="#">Nichayathartham</a></h3>

										<span class="day-class">Wednesday, February 1, 2017</span>
										<span class="clk-class">6:30 PM - 9:00 PM</span>
										<address>
											<span class="map-class">Vijay Shreemahal</span>
											<span class="venue-class">P1/1, 3rd Avenue, Anna Nagar, Chennai, Tamil Nadu 600040, India</span>
										</address>
										<a class="read-more" href="event.html#guide-nit">Read More<i class="fa fa-angle-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-7 col-sm-7 ">
								<figure>
									<img src="assets/images/engagement.jpg" alt="">
								</figure>
							</div>
						</div>	
						<div class="row padding-right">
							<div class="col-xs-12 col-md-7 col-sm-7">
								<figure>
									<img src="assets/images/main-ceremony.jpg" alt="">
								</figure>
							</div>
							<div class="col-xs-12 col-md-pull-1 col-md-5 col-sm-pull-2 col-sm-5">
								<div class="event-description-wrapper">
									<div class="event-description">
										<h3><a href="#">The Wedding</a></h3>
										<span class="day-class">Thursday, February 2, 2017</span>
										<span class="clk-class">6:30 AM - 12:00 PM</span>
										<address>
											<span class="map-class">Vijay Shreemahal</span>
											<span class="venue-class">P1/1, 3rd Avenue, Anna Nagar, Chennai, Tamil Nadu 600040, India</span>
										</address>
										<a class="read-more" href="event.html#guide-wedding">Read More<i class="fa fa-angle-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="row padding-right">
							<div class="col-xs-12 col-md-5 col-sm-5 push">
								<div class="event-description-wrapper reception-description-sec">
									<div class="event-description">
										<h3><a href="#">Reception</a></h3>

										<span class="day-class">Thursday, February 2, 2017</span>
										<span class="clk-class">6:30 PM - 9:30 PM</span>
										<address>
											<span class="map-class">Vijay Shreemahal</span>
											<span class="venue-class">P1/1, 3rd Avenue, Anna Nagar, Chennai, Tamil Nadu 600040, India</span>
										</address>
										<img src="assets/images/karthik.png" alt="">
										<a class="read-more" href="event.html#guide-reception">Read More<i class="fa fa-angle-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-7 col-sm-7 ">
								<figure>
									<img src="assets/images/reception.jpg" alt="">
								</figure>
							</div>
						</div>						
					</div>
				</section>
				<!--wedding-event section end here -->

				<!-- accomodation start here -->
				<section class="travel-page-content" id="travel">
					<div class="container">
						<div class="row">
							<div class="header-center-content">
								<h2>Travel Info</h2>
								<p>
									These are good accomodation options for staying in Chennai. 
									Feel free to also check Tripadvisor for other hotels in the area.
									Don't hesitate to contact us if you need help making a reservation at any of these places.
								</p>
							</div>
						</div>

						<div class="row bg-color">
							<div class="col-xs-12 col-sm-6">

								<div class="left-part">
									<figure>
										<img src="assets/images/grt.jpg" alt="#">
									</figure>

								</div>
							</div>
							<div class="col-xs-12 col-sm-6">
								<div class="right-part">
									<div class="left-part-header">
										<h3><a href="#">GRT Grand Hotel</a></h3>
									</div>
									<address>
										<i class="fa fa-map-marker add-map"> </i>
										<span>120, Sir Thyagaraya Rd, Drivers Colony, T Nagar, Chennai - 600017</span>

										<span>+91 44 2628 3896</span>
										<i class="fa fa-phone add-phone"></i>
									</address>
									<p>
										This hotel is centrally located in the heart of Chennai city. It's just about 30 minutes away from the wedding location. 
									</p>
									<a class="btn btn-default" href="https://www.grthotels.com/chennai">Visit Website </a>

								</div>
							</div>

						</div>
						<div class="row bg-color">
							<div class="col-xs-12 col-sm-6">

								<div class="left-part">
									<figure>
										<img src="assets/images/jp-hotel.jpeg" alt="#">
									</figure>

								</div>
							</div>
							<div class="col-xs-12 col-sm-6">
								<div class="right-part">
									<div class="left-part-header">
										<h3><a>JP Hotel</a></h3>
									</div>
									<address>
										<i class="fa fa-map-marker add-map"> </i>
										<span>1131 Inner Ring Road, Koyambedu, Chennai-600 107</span>

										<span>+91 44 6688 8000</span>
										<i class="fa fa-phone add-phone"> </i>
									</address>
									<p>
										This hotel is located just ten minutes away from the wedding location. Perfect for people looking to catch the entire wedding ceremony.
									</p>
									<p>
										
									</p>
									<a class="btn btn-default" href="http://www.hoteljpchennai.com">Visit Website </a>

								</div>
							</div>

						</div>
					</div>
				</section>

				<section class="activites">
					<div class="container">
						<div class="row">
							<div class="header-center-content">
								<h2>Activities</h2>
								<p>
									For our out-of-towners,	while in the area, here are a few of our favorite local spots!
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-3">
								<div class="left-inner-header">
									<h4>Recreational</h4>
									<a class="park-class" href="https://en.wikipedia.org/wiki/Marina_Beach" target="_blank">Marina Beach</a>
									<a class="park-class" href="https://en.wikipedia.org/wiki/Edward_Elliot%27s_Beach" target="_blank">Edward Elliot's beach</a>
									<a class="park-class" href="https://en.wikipedia.org/wiki/Theosophical_Society_Adyar" target="_blank">Theosophical Society</a>

								</div>
							</div>
							<div class="col-xs-12 col-sm-3">
								<div class="left-inner-header">
									<h4>Sightseeing</h4>
									<a class="park-class" href="https://en.wikipedia.org/wiki/Mahabalipuram" target="_blank">Mahabalipuram</a>
									<a class="park-class" href="https://en.wikipedia.org/wiki/Kapaleeshwarar_Temple" target="_blank">Kapaleeshwarar Temple</a>
									<a class="park-class" href="https://en.wikipedia.org/wiki/Valluvar_Kottam" target="_blank">Valluvar Kottam</a>
								</div>
							</div>
							<div class="col-xs-12 col-sm-3">
								<div class="left-inner-header">
									<h4>Shopping</h4>
									<a class="park-class" href="http://www.expressavenue.in" target="_blank">Express Avenue</a>
									<a class="park-class" href="http://phoenixmarketcitychennai.com" target="_blank">Phoenix Market City</a>
									<a class="park-class" href="https://en.wikipedia.org/wiki/T._Nagar" target="_blank">T.Nagar Shopping</a>
								</div>
							</div>
							<div class="col-xs-12 col-sm-3">
								<div class="left-inner-header">
									<h4>Eating</h4>
									<a class="park-class" href="https://www.zomato.com/chennai/annalakshmi-restaurant-egmore" target="_blank">Annalakshmi Restaurant</a>
									<a class="park-class" href="https://www.zomato.com/chennai/rain-forest-adyar" target="_blank">Rain Forest</a>
									<a class="park-class" href="https://www.zomato.com/chennai/murugan-idli-shop-t-nagar" target="_blank">Murugan Idli Shop</a>
								</div>
							</div>
						</div>
					</div>
				</section>

				<!-- Accomodation End Here -->

				<!--wedding-gift-section start-->
				<section class="gallery-part" id="photos">
					<div class="header-center">
						<h2>Gallery</h2>
					</div>
					<div class="gallery-blog">
						<ul class="gallery-img-sec clearfix">
							<li class="main-item all wedding">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery-1.jpg" title=""> <img alt="" src="assets/images/gallery-1.jpg"> </a>
							</li>
							<li class="main-item all engage wedding">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery-2.jpg" title=""> <img alt="" src="assets/images/gallery-2.jpg"> </a>
							</li>
							<li class="main-item all engage honeymoon">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery-3.jpg" title=""> <img alt="" src="assets/images/gallery-3.jpg"> </a>
							</li>
							<li class="main-item all wedding">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery-4.jpg" title=""> <img alt="" src="assets/images/gallery-4.jpg"> </a>
							</li>
							<li class="main-item all engage honeymoon">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery-5.jpg" title=""> <img alt="" src="assets/images/gallery-5.jpg"> </a>
							</li>
							<li class="main-item all wedding">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery-6.jpg" title=""> <img alt="" src="assets/images/gallery-6.jpg"> </a>
							</li>
							<li class="main-item all engage honeymoon">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery-7.jpg" title=""> <img alt="" src="assets/images/gallery-7.jpg"> </a>
							</li>
							<li class="main-item all honeymoon">
								<a  class="fancybox-button" data-fancybox-group="fancybox-button" href="assets/images/gallery-8.jpg" title=""> <img alt="" src="assets/images/gallery-8.jpg"> </a>
							</li>
						</ul>
					</div>
				</section>
				<!--wedding-gift section end -->

				<!--wedding-gift section start-->
				<section class="wedding-gift" id="gifts">
					<div class="container">
						<div class="row text-center">
							<div class="header-center">
								<h2>Wedding Gifts</h2>
							</div>
							<div class="sub-para">
								<p>
									We're simply grateful for your presence to celebrate the occasion with us!
									If you would like to get us something, we'd love that too... we are registered at the following websites.
								</p>
							</div>
						</div>
					</div>
					<div class="wedding-section-gift">
						<div class="container">
							<div id="wedding-item">
								<div class="item">
									<div class="gift-class">
										<a href="http://www.checkedtwice.com/wishlist?occasion=PLk2W" target="_blank"><img src="assets/images/checked-twice.png" alt=""/></a>
									</div>
								</div>								
								<div class="item">
									<div class="gift-class">
										<a href="https://www.amazon.in/registry/wishlist/3D31UHXAL4RI5" target="_blank"><img src="assets/images/amazon.png" alt=""/></a>
									</div>
								</div>	
								<div class="item">
									<div class="gift-class">
										<a href="http://paypal.me/shyam2007" target="_blank"><img src="assets/images/paypal.jpg" alt=""/></a>
									</div>
								</div>	

							</div>
						</div>
					</div>
				</section>
				<!--wedding-gift-section end-->

				<!--Attending-section-start-->
				<section class="attending-class" id="rsvp">
					<div class="container">
						<div class="row">
							<div class="header-center">
								<h2>Are You Attending</h2>
							</div>
						</div>
						<div class="row text-center">
							<div class="col-xs-12 col-sm-10 col-sm-push-1">
								<div class="rsvp-wrapper" data-ng-controller="rsvp2Ctrl">
									<h3>RSVP</h3>
									<span class="plz-cls">Please RSVP before December 31st</span>
									<form class="rsvpForm" name="form" novalidate>
										<div class="inner-wrapper">
											<div class="input-box">
												<input id="name" type="text" name="fname" placeholder="Your Name" data-ng-pattern="/^(\D)+$/" data-ng-model="user.name" required="">
												<div data-ng-show="form.fname.$invalid && submit ">
													<span data-ng-show="form.fname.$invalid && submit" class="error-msg">This is not a valid name.</span>

												</div>
											</div>
										</div>
										<div class="inner-wrapper">
											<div class="input-box">
												<input id="mail" type="email" name="email" placeholder="Email" data-ng-model="user.email" required="" >
												<div data-ng-show="form.email.$invalid && submit ">
													<span data-ng-show="form.email.$invalid &&  submit" class="error-msg">This is not a valid email.</span>
												</div>
											</div>
										</div>
										<div class="inner-wrapper">
											<div class="input-box">
												<input type="text" placeholder="No Of Guests" name="guest" data-ng-model="user.guest" data-ng-pattern="/^(\d)+$/" required="">

												<div data-ng-show="form.guest.$invalid && submit">
													<span data-ng-show="form.guest.$invalid &&  submit" class="error-msg">This is not a valid number.</span>
												</div>
											</div>
										</div>
										<div class="inner-wrapper">
											<div class="checkbox-group">
												<label style="color:#fff;">I will be attending: </label>
												<div class="checkbox-inline" style="margin-left:15px;">
												<label><input type="checkbox" value="" name="event[]" data-ng-model="user.sangeet" data-ng-true-value="'YES'" data-ng-false-value="'NO'">Sangeet</label>
												</div>
												<div class="checkbox-inline">
												<label><input type="checkbox" value="" name="event[]" data-ng-model="user.nichayathartham" data-ng-true-value="'YES'" data-ng-false-value="'NO'">Nichayathartham</label>
												</div>
												<div class="checkbox-inline">
												<label><input type="checkbox" value="" name="event[]" data-ng-model="user.wedding" data-ng-true-value="'YES'" data-ng-false-value="'NO'">Wedding</label>
												</div>
												<div class="checkbox-inline">
												<label><input type="checkbox" value="" name="event[]" data-ng-model="user.reception" data-ng-true-value="'YES'" data-ng-false-value="'NO'">Reception</label>
												</div>
											</div>
										</div>

										<textarea placeholder="Notes (optional)" name="note" data-ng-model="user.notes"></textarea>
										<div data-ng-show="submit &&  form.notes.$invalid">
											<span data-ng-show="submit && form.note.$error.required" class="error-msg">Please enter</span>

										</div>

										<div id="contactSuccess" class="showmsg">
											<span>Hey! Thanks for reaching out. Hope to see you at the wedding! :)</span>
										</div>
										<button data-ng-click="update(form.$valid)">
											Submit
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--Attending-section-end-->
			</div>
			<!--Content Area End-->

			<!--Footer Section start-->
			<footer id="footer">
				<div class="primary-footer">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="footer-logo">
									<figure>
										<img src="assets/images/footer-img.png" alt="">
									</figure>
									<h4>Aparnaa<span>&amp;</span>Shyam</h4>
									<span class="oct-class">February 2, 2017</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main-footer">
					<div class="container">
						<div class="row">
							<div class="left-footer">
								<p> #AparnaShyamWedding </p>
							</div>
							<div class="right-footer">
								<a href="https://facebook.com/shyamsundar2007" class="circle-class"><i class="fa fa-facebook"> </i></a>
								<a href="https://www.instagram.com/shyamsundar2007/" class="circle-class"><i class="fa fa-instagram"> </i></a>
								<a href="https://www.facebook.com/aparna.balajee" class="circle-class"><i class="fa fa-facebook"> </i></a>
								<a href="https://www.instagram.com/apppieeeee/" class="circle-class"><i class="fa fa-instagram"> </i></a>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!--Footer Section End-->
		</div>
		<!--Page Wrapper End-->
		<script type="text/javascript" src="assets/js/angular.js"></script>
		<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
		<script type="text/javascript" src="assets/js/less.js"></script>
		<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
		<script type="text/javascript" src="assets/js/jquery.appear.js"></script>
		<script type="text/javascript" src="assets/js/isotope.pkgd.js"></script>
		<script type="text/javascript" src="assets/js/jquery.plugin.js"></script>
		<script type="text/javascript" src="assets/js/jquery.fancybox.js"></script>
		<script type="text/javascript" src="assets/js/jquery.countdown.min.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>

		<!-- revolution slider Js -->
		<script type="text/javascript" src="assets/js//jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.revolution.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.video.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.slideanims.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.actions.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.kenburn.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.navigation.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.migration.min.js"></script>
		<script type="text/javascript" src="assets/extensions/revolution.extension.parallax.min.js"></script>
		<!--  revolution slider Js -->

		<script type="text/javascript" src="assets/js/site.js"></script>
		<script type="text/javascript" src="assets/js/nav.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83989352-1', 'auto');
  ga('send', 'pageview');

</script>		
	</body>
</html>
